html {
	background: url("../img/bg.png") center repeat scroll;
}

.content {
	width: 800px;
	margin: auto;
	padding: 15px 0 0 0;
}

.github {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

.share {
	width: 801px;
	text-align: center;
}

.gplus {
	width: 34px;
	height: 34px;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.reload {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
	background: #fff url("../img/reload.png");
	float: left;
	margin: 0 10px 0 0;
}

.reload:hover {
	-webkit-box-shadow: #f00 0px 0px 3px;
	   -moz-box-shadow: #f00 0px 0px 3px;
	     -o-box-shadow: #f00 0px 0px 3px;
	        box-shadow: #f00 0px 0px 3px;
}

.reload:active {
	border: 1px solid   rgba(0,0,0,0.1);
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
	   -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
	     -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
	        box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
}

.reload, .reload:hover, .reload:active {
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	     -o-transition: 0.5s;
	        transition: 0.5s;
}

.link {
	width: 702px;
	height: 30px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 0 0 0 8px;
}

.gplus, .reload, .link, .img img {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
}

.info {
	width: 800px;
	height: 20px;
	font-family: Arial;
	font-size: 10px;
	text-align: center;
}

.info span {
	display: block;
	margin: 4px 0 0 0;
}

.img {
	position: relative;
	width: 800px;
	padding: 0 0 10px 0;
	margin: 0 auto;
}

.img img {
	display: block;
	max-width: 798px;
	max-height: 820px;
	margin: 0 auto;
	border: 1px solid rgba(0,0,0,0.1);
	background: #fff;
}

.footer {
	color: #000;
	width: 800px;
	margin: 0 auto;
	font-family: Arial;
	font-size: 10px;
	padding: 10px 0 10px 0;
	text-align: center;
}

.footer a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.footer a:hover {
	color: #f00;
	text-decoration: none;
}

.error {
	text-align: center;
	height: 300px;
	width: 800px;
}

.error span {
	display: block;
	margin: 150px 0 0 0;
	font-family: Arial;
	font-size: 55px;
}

.overlay {
	display: none;
	position: absolute;
	width: 800px;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7) url("../img/ajax-loader.gif") no-repeat center center;
}
