html {
	background: url("../img/bg.png") center repeat scroll;
}

body {
	padding: 0;
	margin: 0;
}

.content {
/*
	width: 800px;
	margin: auto 0;
*/
}

.github {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
}

.share {
	width: 800px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	text-align: center;
}

.gplus {
	width: 34px;
	height: 34px;
	float: left;
	margin: 0 10px 0 0;
}

.reload,
.fullscreen {
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	background: #fff url("../img/reload.png");
	float: left;
	margin: 0 10px 0 0;
}

.fullscreen {
	background: #fff url("../img/fullscreen.png") no-repeat center center;
}

.reload:hover,
.fullscreen:hover {
	-webkit-box-shadow: #f00 0px 0px 3px;
	   -moz-box-shadow: #f00 0px 0px 3px;
	     -o-box-shadow: #f00 0px 0px 3px;
	      box-shadow: #f00 0px 0px 3px;
}

.reload:active,
.fullscreen:active {
	border: 1px solid   rgba(0,0,0,0.1);
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
	   -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
	     -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
	      box-shadow: rgba(0,0,0,0.2) 0px 0px 5px inset;
}

.reload,
.reload:hover,
.reload:active,
.fullscreen,
.fullscreen:hover,
.fullscreen:active {
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	     -o-transition: 0.5s;
	        transition: 0.5s;
}

.link {
	width: 658px;
	height: 30px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 0 0 0 8px;
}

.gplus, .reload, .link, .img img {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	       border-radius: 2px;
}

.info {
	height: 18px;
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	padding: 4px 0 0 0;
}

.info span {
}

.img {
	position: relative;
}

.img img {
	display: block;
	max-width: 798px;
	max-height: 820px;
	margin: 0 auto;
	border: 1px solid rgba(0,0,0,0.1);
	background: #fff;

	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}

.footer {
	color: #000;
	font-family: Arial;
	font-size: 10px;
	padding: 10px 0;
	text-align: center;
}

.footer a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.footer a:hover {
	color: #f00;
	text-decoration: none;
}

.error {
	text-align: center;
	height: 300px;
}

.error span {
	display: block;
	margin: 150px 0 0 0;
	font-family: Arial;
	font-size: 55px;
}

.overlay {
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background: url("../img/ajax-loader.gif") no-repeat center center;
	z-index: 1;
	opacity: 0.6;
}
/*
@media only screen
and (min-height : 0px)
and (max-height : 449px) {
	.img img {
		max-width: none;
		max-height: 69%;
	}
}
@media only screen
and (min-height : 500px)
and (max-height : 699px) {
	.img img {
		max-width: none;
		max-height: 76%;
	}
}
@media only screen
and (min-height : 700px)
and (max-height : 1000px) {
	.img img {
		max-width: none;
		max-height: 81%;
	}
}
@media only screen
and (min-height : 1001px)
and (max-height : 1100px) {
	.img img {
		max-width: none;
		max-height: 88%;
	}
}
@media only screen
and (min-height : 1101px) {
	.img img {
		max-width: none;
		max-height: 90%;
	}
}*/
